ABC-WebClient/src/wsdl/localhost_8080/ABC-WebService/MyWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lasitha/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.lasitha/" name="MyWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.lasitha/" schemaLocation="http://localhost:8080/ABC-WebService/MyWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getPayments">
<part name="parameters" element="tns:getPayments"/>
</message>
<message name="getPaymentsResponse">
<part name="parameters" element="tns:getPaymentsResponse"/>
</message>
<message name="getDoctors">
<part name="parameters" element="tns:getDoctors"/>
</message>
<message name="getDoctorsResponse">
<part name="parameters" element="tns:getDoctorsResponse"/>
</message>
<message name="addDoctor">
<part name="parameters" element="tns:addDoctor"/>
</message>
<message name="addDoctorResponse">
<part name="parameters" element="tns:addDoctorResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="addPayment">
<part name="parameters" element="tns:addPayment"/>
</message>
<message name="addPaymentResponse">
<part name="parameters" element="tns:addPaymentResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="deleteDrug">
<part name="parameters" element="tns:deleteDrug"/>
</message>
<message name="deleteDrugResponse">
<part name="parameters" element="tns:deleteDrugResponse"/>
</message>
<message name="getDrug">
<part name="parameters" element="tns:getDrug"/>
</message>
<message name="getDrugResponse">
<part name="parameters" element="tns:getDrugResponse"/>
</message>
<message name="getPatient">
<part name="parameters" element="tns:getPatient"/>
</message>
<message name="getPatientResponse">
<part name="parameters" element="tns:getPatientResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="getPatients">
<part name="parameters" element="tns:getPatients"/>
</message>
<message name="getPatientsResponse">
<part name="parameters" element="tns:getPatientsResponse"/>
</message>
<message name="getDoctor">
<part name="parameters" element="tns:getDoctor"/>
</message>
<message name="getDoctorResponse">
<part name="parameters" element="tns:getDoctorResponse"/>
</message>
<message name="deletePatient">
<part name="parameters" element="tns:deletePatient"/>
</message>
<message name="deletePatientResponse">
<part name="parameters" element="tns:deletePatientResponse"/>
</message>
<message name="deleteDoctor">
<part name="parameters" element="tns:deleteDoctor"/>
</message>
<message name="deleteDoctorResponse">
<part name="parameters" element="tns:deleteDoctorResponse"/>
</message>
<message name="addPatient">
<part name="parameters" element="tns:addPatient"/>
</message>
<message name="addPatientResponse">
<part name="parameters" element="tns:addPatientResponse"/>
</message>
<message name="addDrug">
<part name="parameters" element="tns:addDrug"/>
</message>
<message name="addDrugResponse">
<part name="parameters" element="tns:addDrugResponse"/>
</message>
<message name="getDrugs">
<part name="parameters" element="tns:getDrugs"/>
</message>
<message name="getDrugsResponse">
<part name="parameters" element="tns:getDrugsResponse"/>
</message>
<portType name="MyWebService">
<operation name="getUsers">
<input wsam:Action="http://service.lasitha/MyWebService/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://service.lasitha/MyWebService/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service.lasitha/MyWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.lasitha/MyWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getPayments">
<input wsam:Action="http://service.lasitha/MyWebService/getPaymentsRequest" message="tns:getPayments"/>
<output wsam:Action="http://service.lasitha/MyWebService/getPaymentsResponse" message="tns:getPaymentsResponse"/>
</operation>
<operation name="getDoctors">
<input wsam:Action="http://service.lasitha/MyWebService/getDoctorsRequest" message="tns:getDoctors"/>
<output wsam:Action="http://service.lasitha/MyWebService/getDoctorsResponse" message="tns:getDoctorsResponse"/>
</operation>
<operation name="addDoctor">
<input wsam:Action="http://service.lasitha/MyWebService/addDoctorRequest" message="tns:addDoctor"/>
<output wsam:Action="http://service.lasitha/MyWebService/addDoctorResponse" message="tns:addDoctorResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://service.lasitha/MyWebService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://service.lasitha/MyWebService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="addPayment">
<input wsam:Action="http://service.lasitha/MyWebService/addPaymentRequest" message="tns:addPayment"/>
<output wsam:Action="http://service.lasitha/MyWebService/addPaymentResponse" message="tns:addPaymentResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://service.lasitha/MyWebService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://service.lasitha/MyWebService/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="deleteDrug">
<input wsam:Action="http://service.lasitha/MyWebService/deleteDrugRequest" message="tns:deleteDrug"/>
<output wsam:Action="http://service.lasitha/MyWebService/deleteDrugResponse" message="tns:deleteDrugResponse"/>
</operation>
<operation name="getDrug">
<input wsam:Action="http://service.lasitha/MyWebService/getDrugRequest" message="tns:getDrug"/>
<output wsam:Action="http://service.lasitha/MyWebService/getDrugResponse" message="tns:getDrugResponse"/>
</operation>
<operation name="getPatient">
<input wsam:Action="http://service.lasitha/MyWebService/getPatientRequest" message="tns:getPatient"/>
<output wsam:Action="http://service.lasitha/MyWebService/getPatientResponse" message="tns:getPatientResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://service.lasitha/MyWebService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://service.lasitha/MyWebService/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="getPatients">
<input wsam:Action="http://service.lasitha/MyWebService/getPatientsRequest" message="tns:getPatients"/>
<output wsam:Action="http://service.lasitha/MyWebService/getPatientsResponse" message="tns:getPatientsResponse"/>
</operation>
<operation name="getDoctor">
<input wsam:Action="http://service.lasitha/MyWebService/getDoctorRequest" message="tns:getDoctor"/>
<output wsam:Action="http://service.lasitha/MyWebService/getDoctorResponse" message="tns:getDoctorResponse"/>
</operation>
<operation name="deletePatient">
<input wsam:Action="http://service.lasitha/MyWebService/deletePatientRequest" message="tns:deletePatient"/>
<output wsam:Action="http://service.lasitha/MyWebService/deletePatientResponse" message="tns:deletePatientResponse"/>
</operation>
<operation name="deleteDoctor">
<input wsam:Action="http://service.lasitha/MyWebService/deleteDoctorRequest" message="tns:deleteDoctor"/>
<output wsam:Action="http://service.lasitha/MyWebService/deleteDoctorResponse" message="tns:deleteDoctorResponse"/>
</operation>
<operation name="addPatient">
<input wsam:Action="http://service.lasitha/MyWebService/addPatientRequest" message="tns:addPatient"/>
<output wsam:Action="http://service.lasitha/MyWebService/addPatientResponse" message="tns:addPatientResponse"/>
</operation>
<operation name="addDrug">
<input wsam:Action="http://service.lasitha/MyWebService/addDrugRequest" message="tns:addDrug"/>
<output wsam:Action="http://service.lasitha/MyWebService/addDrugResponse" message="tns:addDrugResponse"/>
</operation>
<operation name="getDrugs">
<input wsam:Action="http://service.lasitha/MyWebService/getDrugsRequest" message="tns:getDrugs"/>
<output wsam:Action="http://service.lasitha/MyWebService/getDrugsResponse" message="tns:getDrugsResponse"/>
</operation>
</portType>
<binding name="MyWebServicePortBinding" type="tns:MyWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPayments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDoctors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDoctor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDrug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDrug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPatients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDoctor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDoctor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDrug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDrugs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyWebService">
<port name="MyWebServicePort" binding="tns:MyWebServicePortBinding">
<soap:address location="http://localhost:8080/ABC-WebService/MyWebService"/>
</port>
</service>
</definitions>